@import url("../pages/misArchivos/misArchivos.css");
@import url("../pages/favoritos/favoritos.css");
@import url("../pages/areaTrabajo/areaTrabajo.css");
@import url("../pages/archivosCompartidos/archivosCompartidos.css");
@import url("../pages/papelera/papelera.css");
@import url("../pages/recientes/recientes.css");
@import url("../pages/miPerfil/miPerfil.css");

.home-html{
    background-color: #fff;
    height: 92%;
    width: 101%;
    position: absolute;
}
.navopc{
    width: 100%;
    padding-right: 0%;
    background-color: rgba(0, 0, 0,0.8);
    height: 100%;
}
.perfil{
    right: 0px;
    position: absolute;
    width: 200px;
    height: 100%;    
}
a p{
    color: white;
}
.downPerfil{
    padding-top:0px; 
    height: 46px;
}
p img {
    margin-right: 7px;
}
p{ 
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
/*.user{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.opcion{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color:white;
}
.opcion:hover{
    color: white;
    background-color: rgba(0, 81, 255, 0.41);
}
.dataPerfil p{
    margin-bottom: 0%;
}
#txtOpcion{
    margin-bottom: 0%;
}
.activarOpcion{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    background-color: rgba(0, 81, 255, 0.71);
}
.sec-modalNuevoOff{
    display: none;
}
.sec-modalNuevoOn{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modalNuevo{
    padding: 30px;
    border-radius: 3px;
    width: 400px;
    height: 200px;
    background-color: white;
}
.modalNuevo p {
    font-size: 30px;
}