.sec-menu{
    padding-left: 10px;
    width: 150px;
    background-color: rgba(212, 212, 212, 0.863);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}
.opcionArchivo{
    filter: invert(0);
}
.archivo{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align:center;
}
.archivo:hover{
    background-color: rgba(187, 187, 187, 0.164);
}
.textOpcionArchivo{
    margin: 0%;
    color: rgb(0, 0, 0);
    font-size: 12px;
    height: 20px;
}
.textOpcionArchivo:hover{
    background-color: white;
}
.sec-buscarHome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-buscar{
    margin-left: 10px;
}
.contenidoMisArchivos{
    padding: 20px;
}
ul{
    list-style: none;
}